/*CSS HOme Page*/

html {
    background: repeat url("../img/Background/background-HP.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


/*MENU*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 25%;
    width: 50%;
    max-width: 100%;
    height: 80px;
    border-radius: 40px;
    background: rgba(255, 214, 81, 0.651);
    font-size: 1em;
    font-weight: bold;
    text-transform: initial;
    letter-spacing: 0.2em;
}

ul {
    margin: 1em 0 .5em;
    padding: 4em;
}

li {
    display: inline;
    font-weight: bold;
    padding: 3em;
}

a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
}

button {
    background-color: rgba(255, 214, 81, 0.651);
    width: 15%;
    height: 60px;
    border-color: rgba(255, 214, 81, 0.767);
    border-radius: 20px;
    font-weight: bold;
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin-left: 45%;
    margin-top: 30%;
}


/*IMAGE ET PICTO*/

.picto {
    display: inline-block;
    justify-content: center;
    width: 40%;
    height: auto;
    margin-left: 50%;
    margin-top: 1%;
    scroll-padding-inline: 1px;
}

img {
    width: 8%;
    height: auto;
    border-radius: 60%;
}