/*CSS HOme Page*/

html{
    background: no-repeat url("../img/Background/background-HP.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0em;
    padding: 0;
}

img
{
   
   width: 8%;
   height: auto;
   border-radius: 60%;
   
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 25%;
  
    width: 50%;
    max-width: 100%;
    height: 80px;
    
    border-radius: 40px;
    background: rgba(255, 214, 81, 0.651);

    font-size: 1em;
    font-weight: bold;
    text-transform: initial;
    letter-spacing: 0.2em;
   
}


ul {
    margin: 1em 0 .5em;
    padding: 4em;
   
    
    
}
li {
    display: inline;
    
    font-weight: bold;
    padding: 3em;
   
}

.picto img {
    display: inline-block;
    padding: .4em 1.5em;
    width: 3%;
    height: auto;
}

a
{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

p
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
}

button
{
 
    
    background-color: rgba(255, 214, 81, 0.651);
    width: 15%;
    height: 60px;
    border-color: rgba(255, 214, 81, 0.651);
    border-radius: 20px;
    font-weight: bold;
    font-size: 1em;
    color: ivory;
}